body{
    font-family: 'Noto Sans JP', sans-serif;
}
#container{
    padding: 10px 20px;
}
#content{
    box-sizing: border-box;
    width: 100%;
    min-height: 800px;
    margin: auto;
    padding: 10px;
    line-height: 1.5;
    background-color: #eee;
    border: solid 1px #666;

}
#title{
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
}

.summary{
    margin-bottom: 20px;
    font-size: 13px;
    color: #666;
}
.button_area{
    margin-bottom: 20px;
}
.info{
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 12px;
}
button{
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    
}
#start_btn{
    background-color: #004F00;
    border: solid 1px #004F00;
    color: #fff;
}
#start_btn.active{
    background-color: #009F00;
    border: solid 1px #004F00;
}
#stop_btn{
    background-color: #BD0000;
    border: solid 1px #BD0000;
    color: #fff;
}
#stop_btn.active{
    background-color: #FF0000;
    border: solid 1px #BD0000;
}
